.pvc_skin{
	
	-fx-height:700
	-fx-background-image:
	linear-gradient(45deg, black 25%, transparent 0, transparent 75%, black 0), linear-gradient(45deg, black 25%, transparent 0, transparent 75%, black 0)

}
.pvp_skin{
	-fx-background-color:#215802;
	-fx-font-size:11pt;
	
}